default_stages:
  - pre-commit
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=20000"]

  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.154 # Use the latest release tag
    hooks:
      - id: rumdl
        args: [content, --fix]

  - repo: https://github.com/openstack/bashate
    rev: 2.1.1
    hooks:
      - id: bashate
        name: bashate
        description: This hook runs bashate for linting shell scripts
        entry: bashate
        language: python
        types: [shell]

default_language_version:
  python: python3.12
